<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>

<body class="container">

  <header>
    <% include header %>
  </header>

    <form action="/api/city" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class ="form-control" placeholder="name" name="name">
      </div>
      <div class="form-group">
        <label for="male">Interval</label>
        <input type="number" class ="form-control" placeholder="interval" name="interval">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<footer>
  <% include footer %>
</footer>
    
