<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>

<body class="container">

  <header>
    <% include header %>
  </header>

    <form id="form" action="/api/city" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class ="form-control" placeholder="name" name="name">
      </div>
      <div class="form-group">
        <label for="male">Interval</label>
        <input id="interval" type="number" class ="form-control" placeholder="interval" name="interval">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<footer>
  <% include footer %>
</footer>
<script>
$('#form').submit(function() {
    if($('#name').val() == ''){
        alert('Please add a city name');
        return false;
    }
    if($('#interval').val() == ''){
      alert('Please add an interval for tracking');
      return false;
    }
});
</script>
    
