<!DOCTYPE html>
<html lang="en">
<head>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% include head %>
</head>

<body class="container">

    <header>
    <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Weather from Openweathermap</h1></br>
            <ul>
                <% cities.forEach(function(city){ %>
                    <li><h2><%= city.name %>:    Interval: <%= city.interval %></h2>
                    
                        <a href="/destroy/<%= city.name %>" class="btn btn-danger" title="Delete this todo item" onclick="return confirm('Are you sure?')">Delete</a>
                        <a href="/cities/<%= city.name %>" class="btn btn-info" title="See detailed stats" >Details</a>

                    </li>
                    <br>
                <% }); %>
            </ul>   
        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>
    
</body>
